@use "./variables" as v;

body {
  display: flex;
  background: v.$primary-color;
  font-family: "Kanit";
  color: v.$text-color;
  min-height: 100vh;

  .warning,
  .error,
  .negative,
  .expense {
    color: v.$warning-color;
  }

  .positive,
  .income,
  .success {
    color: v.$success-color;
  }
}

nav {
  background-color: v.$primary-color;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.label-input {
  font-family: "Kanit";
  font-weight: 700;
  gap: 0;

  input {
    border: 1px solid v.$text-color;
    background-color: v.$primary-color;

    &:focus {
      border-color: v.$accent-color;
      border-width: 2px;
      outline: none;
    }

    &:disabled {
      background-color: v.$text-color;
      border-color: v.$accent-color;
      color: v.$text-color_lighter;
      font-style: italic;
      cursor: not-allowed;
    }
  }
}

.list-preview {
  background-color: v.$primary-color;
  border-radius: 8px;
  padding: 12px;
  margin-top: 16px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 8px 0;
      border-bottom: 1px solid v.$accent-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
